.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# dist
node_modules
bower_components
*.swp
.DS_Store
.DS_Store?

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
